.carousel{
    padding: 81px 0;
    &__inner{
        position: relative;
        max-width: 750px;
        margin: 0 auto;
        img{
            max-width: 100%;
            height: auto;
            display: block;
        }
    }
    .slick-prev, .slick-next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        background-color: #fff;
        border: none;
        img{
            width: 30px;
            height: 50px;
        }
    }
    .slick-next{
        right: -66px;
        left: auto;
    }
}
.slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    gap: 10px;
    bottom: -30px;
    li{
        line-height: 0;
        font-size: 0;
        button{
            line-height: 0;
            font-size: 0;
            border: none;
            width: 10px;
            height: 10px;
            background-color: #454343;
            border-radius: 50%;
        }
    }
}
.slick-dots li.slick-active button{
    background-color: #b4abab;

}